@model Project_Flight_Manager.ViewModels.Reservations.ReservationInputModel

@{
    ViewData["Title"] = "Create";
}

<style>
    form{
        color:white;
        font-weight:bold;
        width: max-content;
    }
     .content{
        color:white;
        background-color: rgba(163, 167, 204, 0.2);
        display: flex;
        flex-direction: column;
        align-items:center;
    }
      .back-btn{
        position: absolute;
        top: 9%;
        left: 17%;
        padding: 9px 15px;
        border: 0 none;
        color: #ffffff;
        box-shadow: none;
        border-radius: 7px;
        }
    .col-md-4{
        background-color: none;
        width: fit-content;
        
        border-radius: 7px;
    }
    .create-btn{
    margin-left:133px;
    outline: 0;
    border: 0;
    
        padding: 9px 15px;
    border-radius:7px;
    }
</style>
<div class="content">
<h1>Create</h1>
<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EGN" class="control-label"></label>
                <input asp-for="EGN" class="form-control" />
                <span asp-validation-for="EGN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelNumber" class="control-label"></label>
                <input asp-for="TelNumber" class="form-control" />
                <span asp-validation-for="TelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketType" class="control-label"></label>
                <select asp-for="TicketType" class="form-control" >
                    <option value="0">
                        Normal
                    </option>
                    <option value="1">
                        Business
                    </option>
                </select>
                <span asp-validation-for="TicketType" class="text-danger"></span>
            </div>
            <input asp-for="FlightId" hidden class="form-control hide" value="@Model.FlightId" />
            <div class="form-group">
                <input class="btn-primary create-btn" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-primary back-btn" asp-action="Index">Back to List</a>
</div>

</div>